<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>Docker</WebPublishMethod>
    <PublishProvider>ContainerRegistry</PublishProvider>
    <DockerPublish>true</DockerPublish>
    <ResourceId>/subscriptions/61084cd2-473d-46ca-ba6b-61178cc2b249/resourcegroups/Default-Web-NorthEurope/providers/Microsoft.ContainerRegistry/registries/CVGame</ResourceId>
    <ResourceName>CVGame</ResourceName>
    <ResourceGroup>Default-Web-NorthEurope</ResourceGroup>
    <Subscription>Pay-As-You-Go</Subscription>
    <RegistryUrl>https://cvgame.azurecr.io</RegistryUrl>
    <PublishImageTag>latest</PublishImageTag>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <_TargetId>AzureConsoleContainerRegistry</_TargetId>
  </PropertyGroup>
</Project>